@tailwind base;
@tailwind components;
@tailwind utilities;


button {
    padding: 5px 15px;
    margin: 0 10px 0 0;

    height: 35px;

    color: white;
    border: 1px solid white;
    background-color: #525864;
    border-radius: 5px;



}

::-webkit-media-controls-enclosure {
    border-radius: 10px;
}

::-webkit-media-controls-volume-control-container{
    display: none;
}

::-webkit-media-controls-mute-button {
    display: none !important;
}
