@tailwind base;
@tailwind components;
@tailwind utilities;

button {
    padding: 0 5px;
    margin: 0 5px 0 0;

    color: white;
    border: 1px solid white;
    background-color: darkslategray;
    border-radius: 5px;
    width: 80px;



}

::-webkit-media-controls-enclosure {
    border-radius: 10px;
}

::-webkit-media-controls-volume-control-container{
    display: none;
}